/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.anim-container {
  border: 1px solid black;
  padding: 1rem;
  width: fit-content;
  margin: auto;
  border-radius: 1rem;
}

.anim-field {
  border: 1px solid black;
  width: 700px;
  height: 400px;
  /* background-image: url(./img/wood.png); */
  background-position: center;
  border-radius: 1rem;
}

.anim-ball {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: rgb(145, 156, 160);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: 0px;
}

.anim-control {
  margin-top: 1rem;
}
