*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dev {
    text-align: center;
}

.cal_container{
    margin: 1rem auto;
    background-color: rgb(21, 22, 56);
    width: fit-content;
    border: 4px solid rgb(126, 116, 216);
    border-radius: 20px;
    padding: 0.5rem; 
}

.cal_screen {
    background-color: aquamarine;
    text-align: right;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid rgb(211, 208, 208);
    margin-bottom: 0.1rem;
}

.cal_button {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.1rem;
    border-radius: 10px;
    border: 2px solid  gray;
}

/* .cal_button:hover {
    background-color: rgb(115, 121, 127); 
    transform: scale(1.1);
    transition: transform 0.3s ease;
} 

.cal_button:active {
  background-color: #1c5980;
  transform: scale(0.95);
  transition: none; 
}  */

.cal_button_Green {
    background-color: rgb(189, 230, 7);
}

.cal_button_blue {
    background-color: rgb(121, 18, 231);
}

.cal_button_red {
    background-color: lightcoral;
}

.cal_button_orange {
    background-color: orange;
}